@import "tailwindcss";

.markdown {
  @apply leading-normal wrap-break-word;
}

.markdown > * + * {
  @apply mt-0 mb-4;
}

.markdown li + li {
  @apply mt-1;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown strong {
  @apply font-semibold;
}

.markdown a {
  @apply font-semibold text-blue-600 dark:text-sky-500;
}

.markdown strong a {
  @apply font-bold;
}

.markdown h1 {
  @apply mt-6 mb-4 border-b border-slate-900 pb-2 text-3xl leading-tight font-semibold dark:border-slate-50;
}

.markdown h2 {
  @apply mt-6 mb-4 border-b border-slate-900 pb-2 text-2xl leading-tight font-semibold dark:border-slate-50;
}

.markdown h3 {
  @apply mt-6 mb-4 text-lg leading-snug font-semibold;
}

.markdown h4 {
  @apply mt-6 mb-4 text-base leading-none font-semibold;
}

.markdown h5 {
  @apply mt-6 mb-4 text-sm leading-tight font-semibold;
}

.markdown h6 {
  @apply mt-6 mb-4 text-sm leading-tight font-semibold text-gray-600;
}

.markdown blockquote {
  @apply border-l-4 border-gray-600 pr-4 pl-4 text-base text-gray-600 dark:border-gray-300 dark:text-gray-300;
}

.markdown code {
  @apply inline rounded bg-gray-100 px-1 py-0.5 font-mono text-sm text-indigo-900;
}

.markdown pre {
  @apply rounded bg-gray-100 p-4;
}

.markdown pre code {
  @apply block overflow-x-auto rounded-none bg-transparent p-0 text-black;
}

.markdown ul {
  @apply list-disc pl-8 text-base;
}

.markdown ol {
  @apply list-decimal pl-8 text-base;
}

.markdown kbd {
  @apply inline-block rounded border px-1 py-0.5 align-middle font-mono text-xs font-normal shadow;
}

.markdown table {
  @apply border-gray-600 text-base;
}

.markdown th {
  @apply border px-3 py-1;
}

.markdown td {
  @apply border px-3 py-1;
}

.markdown hr {
  @apply border-gray-600 dark:border-gray-400;
}
